.item{
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* background-color:#00ffff ; */
    /* align-items: center; */
    img{
        width: 100%;
    }
    &:hover{
        transform: translateY(-5px);
    }
    p{
        margin: 0.5rem;
    }
    .prices{
        display: flex;
        gap:0.5rem;
        .new{
            font-weight: 600
        }
        .old{
            color: #464545;
            text-decoration: line-through;
        }
    }
    
}


@media screen and (max-width: 768px){
    .item{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    
}