@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;

}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    padding: 0 4rem 1rem 4rem;
}



@media screen and (max-width: 768px){
    .container{
        padding: 0 1rem 1rem 1rem;
    }
}

@keygrames fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


